#postarea4{
    position: absolute;
    top:60px;
    left: 0;
    overflow-y: scroll;    
}
#Pg4_header{
    position: absolute;
    height: 60px;
    top:0;
    left: 0;
    text-shadow: 0px 0px 0px white;
    background: white;
    box-shadow: 0px -1px 10px rgba(120,120,120,0.5);
    line-height: 60px;
    font-size: 18px;
    color: rgb(22,23,27);
    font-weight: 600;
    text-align: center;
}